.card {
    border: .5px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 8px grey;
    padding: 10px;
    margin: 5px;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.card button {
    background-color: rgb(70, 70, 251);
    padding: 10px 40px;
    border-radius: 5px;
    color: azure;
    font-weight: 600;
}

.card button:hover {
    background-color: white;
    color: black;
}