.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

@media only screen and (max-width: 786px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

.page-title {
    color: blue;
}

.questions {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 75%;
    border: .5px dotted grey;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.499);
    padding: 20px;
}