.sidebar-body {
    margin: 10px;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.user-detail h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.user-detail p {
    margin-top: 0px;
    padding-bottom: 0px;
}

.additional-info {
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.additional-info div h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.additional-info div p {
    padding-bottom: 0px;
    margin-top: 0px;
}

#small-font {
    font-size: 50%;
    font-weight: 300;
}

.break-buttons {
    background-color: rgb(238, 238, 238);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.break-buttons button {
    border: none;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.break-buttons button:hover {

    background-color: skyblue;

}

.break-buttons button:focus {

    background-color: blue;
    color: white;

}